/* Map related styles */
.map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Sidebar related styles */

.sidebar {
  margin-top: 1em;
  max-height: 700px;
  overflow: scroll;
}

.cities-list, .shows-list {
  z-index: 2;
  position: relative;
  background: white;
}

