/* Map related styles */
.map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Sidebar related styles */

.sidebar {
  margin-top: 1em;
  max-height: 700px;
  z-index: 2;
  min-width: 450px;
}

.show-container {
  margin-top: 20px;
  background: white;
}

.date-filter-buttons {
  overflow: hidden;
  padding: 10px 0;
}

.shows-list {
  max-height: 600px;
  overflow: auto;
}

